/* GLOBAL STYLES  */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:"Rubik", "Arial", serif;
    font-size: 16px;
    line-height: 22px;
    background-color: #fff;
    color: #4a4b4c;
}

img {
    max-width: 100%;
    height: auto;
}

/* OUTLINE STYLES  */

*:focus {
    outline: 2px dashed #7296ec;
    outline-offset: 3px;
}

/* BUTTON  */

.button {
    display:inline-block;
    padding: 13px 20px;
    border-radius: 10px;
    border:0;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.button-primary {
    color:#fff;
    background-color: rgba(114, 150, 236, 1);
} 

.button-orange {
    padding: 13px 30px;
    background-color: #F78B3B;
    color: #fff;
} 

.button:hover {
    opacity: 0.8;
}

.button:active {
    opacity: 0.6;
}

.button-block {
    display: block;
    width: 100%;
}

/* CONTAINER  */

.container {
    width: 100%;
    max-width: 1240px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto; 
}

/* SITE-HEADER-TOP  */

.site-header-top {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 10px;
    background-color:#F6F6F6;
}
.site-header-top-container {
    display: flex;
    align-items: center;
}

.site-header-logo {
    display: flex;
    padding: 8px 6px;
    margin-right: 35px;
    border-radius: 7px;
    background-color: #fff;
}

.site-header-logo:hover {
    opacity: 0.8;
}

.site-header-logo:active {
    opacity: 0.6;
}
/* CURRENCY RATES  */
.currency-rates {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-right: auto;
    list-style: none;
}
.currency-item:not(:last-child) {
    margin-right: 25px;
}
.currency-rates-type {
    color: #2959CE;
}

/* GLOBAL-SEARCH-FORM  */

.global-search-form {
    margin-right: 25px;
}

.global-search-form-input {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 40px;
    border: 0;
    border-radius: 60px;
    font-size: 14px;
    line-height: normal;
}

/* LANG TOGGLE  */
.lang-toggle {
    display: flex;
    padding: 3px;
    margin-right: 25px;
    border-radius: 39px;
    background-color:#DCE6FF;
}

.lang-toggle-link {
    width: 30px;
    height: 30px;  
    border-radius: 50%;
    line-height: 30px;
    color:#a6a6a6;
    text-align: center;
    font-size: 13px;
    text-decoration: none;
}

.lang-toggle-link-active {
    color:#222;
    background-color: #fff;
}

/* SITENAV STYLES */

.sitenav {
    padding-bottom: 12px;
    padding-top: 12px;
    margin-bottom: 40px;
    border-bottom: 1px solid #d1d1d1;
    font-size: 18px;
    font-weight: 500;
    line-height: normal;
}
.sitenav-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.sitenav-item {
    margin-bottom: 4px;
    margin-top: 4px;
}
.sitenav-item:not(:last-child) {
    margin-right: 34px;
}
.sitenav-link {
    display: block;
    color:#7f7f7f;
    text-decoration: none;
}

.sitenav-link:hover {
    color:#7296ec;
}

.sitenav-link:active {
    opacity: 0.6;
}

/* SITE-HEADER-BANNER  */

.site-header-banner-link {
    display: flex;
}


/* MAIN-CONTENT  */

.main-content {
    flex-grow: 1;
    padding-top: 50px;
    padding-bottom: 100px;
}

/* NEWS-GRID  */

.news-grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}
.news-grid-item {
    width: 393px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.article-card {
    display: flex;
    flex-direction: column;
    background-color:#f6f6f6;
    border-radius:15px;
    padding: 20px 17px 15px;
}
.article-card-title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
}
.article-card-link {
    display: inline-block;
    color:rgba(0, 0, 0, 1);
    text-decoration: none;
}

.article-card-link:hover {
    color: #7296ec;
}

.article-card-link:active {
    opacity: 0.6;
}

.article-card-text {
    margin-top: 0;
    margin-bottom: 15px;
}
.article-card-img {
    display: block;
    width: 360px;
    height: 165px;
    margin-top: auto;
    margin-bottom: 15px;
    border-radius:10px;
    object-fit: cover;
}
.article-card-footer {
    display: flex;
    align-items: center;
}
.article-card-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-radius: 5px;
}
.article-card-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5E5F61;
}

/* NOTIFACITION-CTA  */

.notifaciation-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 70px 25px 25px;
    margin: 60px 75px;
    background-color:#ffd7ba;
}
.notifaciation-cta-text {
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
    color: #000;
}


/* GLOBAL-NEWS  */

/* .global-news {
    width: 797px;
} */

.global-news-heading {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: normal;
    color: #000;
}
.news-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
.news-list-item:not(:last-child) {
    margin-bottom: 10px;
}

/* ARTICLE-CARDD-HORIZONTAL  */

.article-card-horizontal {
    display: flex;
    align-items: flex-start;
    padding: 20px;
    border-radius:15px;
    background-color: #f6f6f6;
}
.article-card-horizontal-img {
    width: 210px;
    height: 165px;
    margin-right: 15px;
    border-radius: 10px;
    object-fit: cover;
}
.article-card-horizontal-content {
    flex-grow: 1;
}
.article-card-horizontal-link {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
    text-decoration: none;
}
.article-card-horizontal-link:hover {
    color: #7296ec;
}
.article-card-horizontal-link:active {
    opacity: 0.6;
}
.article-card-horizontal-text {
    margin-top: 0;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 22px;
}
.article-card-horizontal-footer {
    display: flex;
    align-items: center;
}
.article-card-horizontal-source-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: cover;
    border-radius:5px;
}
.article-card-source-time {
    font-size: 12px;
    line-height: normal;
    color: #5E5F61;
}

.news-list-more-button {
    padding: 17px;
}

/* LAYOUT  */

.layout-2-1 {
    display: flex;
    align-items: start;
}

.layout-2-1-main {
    width: 797px;
    margin-right: 10px;
}

.layout-2-1-sidebar {
    /* width: 393px; */
    margin-top: 48px;
}

.layout-2-1-side-bar-item:not(:last-child) {
    margin-bottom: 10px;
}

/* SIDE-BAR-NEWS-CARD  */

.sidebar-news-card {
    padding: 20px;
    border-radius:15px;
    background-color: #f6f6f6;
    color: #000;
    margin-left: 20px;
}
.sidebar-news-card-heading {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar-news-card-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.sidebar-news-card-item {
    padding-top: 20px;
    padding-bottom: 20px;
}
.sidebar-news-card-item:first-child {
    padding-top: 0;
}
.sidebar-news-card-item:last-child {
    padding-bottom: 0;
}
.sidebar-news-card-item:not(:last-child) {
    border-bottom: 1px solid #d2d2d2;
}
.sidebar-news-card-title {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}
.sidebar-news-card-link {
    display: inline-block;
    color: #000;
    text-decoration: none;
}
.sidebar-news-card-link:hover {
    color: #7296ec;
}
.sidebar-news-card-link:active {
    opacity: 0.6;
}
.sidebar-news-card-source-time {
    font-size: 13px;
    line-height: normal;
    color: #5E5F61;
}

/* SIDE-BAR-AD  */

.sidebar-ad-link {
    display: flex;
    margin-left: 20px;
    margin-top: 10px;
}

.sidebar-ad-img {
    width: 393px;
    height: 338px;
    object-fit: cover;
    border-radius:15px;
}